
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}

body {
    font-family: "Arial", sans-serif;
    color: black;
}

section {
    padding: 10% 0;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}